*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#111;

color:white;

line-height:1.7;

}

header{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

background:linear-gradient(135deg,#6C63FF,#3A0CA3);

}

header h1{

font-size:55px;

}

header p{

margin:20px;

font-size:20px;

}

.btn{

padding:12px 30px;

background:white;

color:#333;

text-decoration:none;

border-radius:30px;

font-weight:bold;

}

section{

padding:70px 10%;

}

h2{

text-align:center;

margin-bottom:30px;

font-size:35px;

}

.about p{

max-width:800px;

margin:auto;

text-align:center;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(120px,1fr));

gap:20px;

}

.cards div{

background:#222;

padding:20px;

border-radius:10px;

text-align:center;

transition:.3s;

}

.cards div:hover{

background:#6C63FF;

}

.project{

background:#222;

padding:30px;

border-radius:12px;

text-align:center;

}

.project a{

display:inline-block;

margin:10px;

padding:10px 20px;

background:#6C63FF;

color:white;

text-decoration:none;

border-radius:6px;

}

footer{

padding:20px;

text-align:center;

background:#000;

  }
